*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* some stuff */
@font-face {
    font-family: 'Yekan';
    src: url(../fonts/Yekan\ Bakh\ Medium.woff);
}
.text-orange {
    color: #E74D3D;
}

html {
  font-size: 62.5%;
  /* rem : 10px */
  font-family: 'Yekan';
}

body {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.container {
    border: 7px solid rgba(241, 196, 15, 0.5);
    border-radius: 3.63rem;
    margin: 40px 82px;
}

.header {
    width: 100%;
    border-radius: 32px 32px 0 0;
    height: 60px;
    box-shadow: 0px 0px 20px #b9b8b8;
}

.header__title {
    font-size: 2.2rem;
}

.foods {
    height: 645px;
    overflow-y: scroll;
}
.foods__item {
    height: 20%;
    border-bottom: solid 1.2px #c6c6c6;
}
.foods__item--text .name {
    font-size: 1.74rem;
}
.foods .price {
    font-size: 1.93rem;
}
.foods .tooman {
    font-size: 1.4rem;
}
.foods__item--text .number {
    font-size: 2.81rem;
}
.foods__item--text i {
    font-size: 1.7rem;
}

.footer {
    height: 291px;
    border-radius: 0 0 32px 32px;
}